<!--

html,body {
	margin: 0;
	padding: 0;
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	color: #000;
	background-color: #eee;
}

input{
	vertical-align:middle;
	padding:0.3ex;
	margin:0.5ex;
}

textarea{
	border:1px solid #ddd;
	background-color:#fcfcfc;
	margin:1ex;
	padding:1ex
}

form{
	margin:1ex;
	padding:0
}

hr {
	height: 1px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #ccc;
}


a {
	color:#0066CC;
	background:transparent;
	text-decoration:none;
}

a:link {
	color:#0066CC;
	background:transparent;
	text-decoration:none;
}

a:visited {
	color:#0066CC;
	background:transparent;
	text-decoration:none;
}

a:active {
	color:#0066CC;
	background:transparent;
	text-decoration:none;
}

a:hover {
	color:#0066CC;
	background:transparent;
	text-decoration:underline;
}

h1, h2, h3, h4, h5, h6 {
/*      margin: 1.2em 0em 1.2em 0em;*/
	font-weight: normal;
	color:rgb(39,78,144);
	background-color:transparent;
}
h1 {
	font-size: 2.0em;
	margin-top: 0em;
	margin-bottom: 0em;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
	font-weight: bold;
}
h5 {
	font-size: 1.0em;
	font-weight: bold;
}
h6 {
	font-size: 0.8em;
	font-weight: bold;
}

ol, ul, li {
	font-size: 1.0em;
	line-height: 1.8em;
	margin-top: 0.2em;
	margin-bottom: 0.1em; 
}
p {
	font-size: 1.0em;
	line-height: 1.8em;
	margin: 1.2em 0em 1.2em 0em;
}
li > p {
	margin-top: 0.2em;
}

dt, dd {
	font-size: 1.0em;
	line-height: 1.8em;
	margin-top: 0.2em;
	margin-bottom: 0.1em; 
}
pre, code {
	font-family: monospace;
	font-size: 1.1em;
	line-height:1.5em;
}
acronym, cite {
	border-bottom: 1px dotted rgb(153,153,153);
	cursor: help;
	margin: 0;
	padding: 0 0 0.4px 0;
	white-space:normal;
}
strong, b {
	font-weight: bold;
}

-->