<!--

/*                FIXES                    */

#wikiedit textarea {width:98%;margin:0;padding:0}
.wikimessage {margin-top:4px; margin-bottom:4px;font-style:italic}


a:link.createlinktext, a:visited.createlinktext, a:active.createlinktext {text-decoration:none;border-bottom:none}
a:hover.createlinktext {text-decoration:underline}

a:link.createlink, a:visited.createlink, a:active.createlink {font-weight: normal;font-size:80%;border-bottom:none;text-decoration:none}
a:hover.createlink {text-decoration:underline}


.indent { margin:0.2em;margin-left:40px; }
.outdent { margin:0.2em;margin-left:40px; text-indent:-40px; }

.diffbox {width:100%}
.difftime {font-size:1em;}
.diffauthor {font-size:1em;}
.diffrestore {font-size:1em}
-->

