<!--
div#wiki-wrap {
	margin:0;
	padding:0;
	border:0;
}
div#wiki-top  {
	margin:0;
	padding:0;
	border:0.1em solid green;
	min-height:1.5em;
}
div#wiki-head {
	margin:0;
	padding:0;
	border:0.1em solid blue;
	min-width:90%;
}
div#wiki-info {
	margin:0;
	padding:0.5em;
	border:0.1em solid yellow;
	min-width:90%;
	min-height:1.5em;
}
div#wiki-menu {
	margin:0;
	padding:0;
	border:0.1em solid orange;
	width:15em;
	min-height:1.5em;
	float:left;
}
div#wiki-text {
	margin:0;
	margin-left:15.2em;
	padding:0;
	border:0.1ex solid brown;
	min-width:20%;
	min-height:1.5em;
}
div#wiki-foot {
	margin:0;
	padding:0;
	border:0.1ex solid purple;
	min-width:90%;
	min-height:1.5em;
	clear:both
}
-->