<!--

/*                   skin                      */

div#wiki-top  {
	padding:0.2em 0.6em 0.4em 0.6em;
	border:0;
	height:0.9em;
	color: rgb(255,255,255);
	background-color: rgb(100,135,220);
}
	div#top-left {
		float:left;
		
	}
	div#top-right {
		float:right;
	}
	div#wiki-top  ul, div#wiki-top  div ul {
		list-style-type: none;
		list-style-position: inside;
		margin: 0;
		padding:0;
		border:0;
		white-space: normal;	
	}
	div#wiki-top  li, div#wiki-top  div ul li {
		display:inline;
		margin: 0;
		padding: 0 0.2em 0 0.4em;
		border:0;
/*              border-left:0.1em solid white;*/
	}
	div#wiki-top  li.noborder, div#wiki-top  div ul li.noborder {
		border:0;
	}
	div#wiki-top a:link, div#wiki-top a:visited, div#wiki-top a:active {
		color: rgb(255,255,255);
		background-color:transparent;
		text-decoration:none;
	}
	div#wiki-top a:hover {
		color: rgb(255,255,255);
		background-color:transparent;
		text-decoration:underline;
	}

div#wiki-head {
	padding:0.1em;
	margin:0;
	border:0;
	text-align:right;
	height:4.7em;
	color: rgb(39,78,144);
	background-color: rgb(140,170,230);
}
	div#wiki-head h1 {
		margin:0;
		padding:4px;
		padding-left: 0.4em;
		float:left;
		font-size:3em;
		color: rgb(39,78,144);
		background-color: transparent;
	}
	#wiki-head h1 a {color: rgb(39,78,144);}
	div#wiki-head form{
		padding:0;
		margin:0.8em 0 0 0;
	}

div#wiki-info {
	padding:0.3em;
	border:0;
	height:1.8em;
	color:rgb(255,255,255);
	background-color: rgb(0,51,153);
}
	div#wiki-info a {
		font-weight:bold;
		color:rgb(255,255,255);
		background-color:transparent;
		margin:0;
		padding:0.1em;
		border:0;
		display:inline;
		text-decoration:none;
	}
	div#wiki-info p{
		margin:0;
		padding:0;
	}
	div#info-left {
		float:left;
		
	}
	div#info-right {
		float:right;
	}
	div#wiki-info  a:hover {
		color:rgb(253,160,91);
		background-color:transparent;
	}
	div#wiki-info  ul, div#wiki-info  div ul {
		list-style-type: none;
		list-style-position: inside;
		margin: 0;
		padding:0;
		border:0;
		white-space: normal;	
	}
	div#wiki-info  li, div#wiki-info  div ul li {
		display:inline;
		margin: 0;
		padding: 0 0.2em 0 0.4em;
		border:0;
/*              border-left:0.1em solid white;*/
	}
	div#wiki-info  li.browse, div#wiki-info  div ul li.browse {
		border:0;
	}
	div#wiki-info  li.noborder, div#wiki-info  div ul li.noborder {
		border:0;
	}

div#wiki-menu {
	border:0;
	border-right:0.1em solid #aaa;
	padding:0;
	width:14em;
	color: rgb(0,0,0);
	background-color:rgb(240,240,240);
	float:left;
}
	div#wiki-menu ul{
		list-style-type: none;
		list-style-position: inside;
		margin:0;
		padding: 0 0 0.1em 0;
		border-bottom:0.1em solid #aaa;
		white-space: normal;
	}
	div#wiki-menu li {
		margin: 0;
		padding: 0.1ex 0;
		border:0;
	}
	div#wiki-menu ul li a:before{
		content: "\203A \0020" ; 
	}
	
	div#wiki-menu a{
		border:0;
		color: rgb(0,102,204);
		background-color: transparent;
		text-decoration: none;
		margin: 0;
		padding: 0.3em 0.3em 0.3em 3mm;
		display: block;
	}
	
	div#wiki-menu a:hover{
		color: white;
		background-color: rgb(100,135,220);
		text-decoration: none;
	}
	div#wiki-menu p {
		margin:0;
		padding:0;
	}	
	div#wiki-menu p.sidehead a {
		font-size:1.2em;
		font-weight:bold;
		color:rgb(0,51,153);
		background-color:transparent;
	}
	div#wiki-menu p.sidehead a:hover{
		font-size:1.2em;
		font-weight:bold;
		color: white;
		background-color: rgb(100,135,220);
		text-decoration: none;
	}
	
	div#wiki-menu p.sidehead a:before {
		content: "\203A  \0020"
	}

div#wiki-page {
	margin-left:14em;
	padding:1.8em;
	border:0;
	border-left:0.1em solid #aaa;
	vertical-align:top;
	color: rgb(0,0,0);
	background-color:rgb(255,255,255);
	table-layout:table-column;
}
	h2#page-title {
		margin:0;
		padding:0;
		border:0;
		border-bottom:0.1ex solid #bbb;
		font-size:2em;
		font-weight:normal;
		color:rgb(39,78,144);
		background-color: transparent;
	}
	div#page-info {
		margin:0;
		margin-bottom:0.5em;
		padding:0;
		border:0;
		font-size:1em;
		color:#ccc;
		background-color: transparent;
	}
	div#page-info:hover {
		color:#444;
		background-color: transparent;
	}
	hr#page-end {
		border:0;
		margin:0;
		padding:0;
		color:white;
		background-color:white;
		clear:both;
	}
.editsection {
        float: right;
        margin: 10px;
        font-size: 12px;
        color: white;
}
.editsection a { color: white; }
h3 .editsection { margin: 5px 10px; }
.mw-headline {
        display: block;
        color: white;
        background-color: #6487DC;
        font-size: 14px;
        font-weight: normal;
        margin: 1em 0 0 0;
        padding: 0.5ex 0 0.5ex 1ex;
}
.mw-headline a { color: white; }
h2 .mw-headline { font-size: 20px; }
h3 .mw-headline { font-size: 16px; }
.mw-specialpagerestricted { font-weight: bold; }
.mw-specialpages-notes { display: none; }
.printfooter { display: none; }
#preferences fieldset { border: none; margin: 0 5px 10px 0; padding: 0; }
#preferences fieldset legend {
        display: block;
        color: white;
        background-color: #6487DC;
        font-size: 14px;
        font-weight: normal;
        margin: 1em 0 0 0;
        padding: 0.5ex 0 0.5ex 1ex;
        width: 100%;
}
#preferences > fieldset > legend { text-align: center; font-size: 18px; }
#editform textarea, #wpTextbox1 {
        font-family: Monaco, Consolas, Courier New, Courier, monospace;
        width: 98%;
        font-size: 12px;
}
.previewnote, .permissions-errors { color: red; }
#userloginForm h2 { display: none; }
.errorbox {
        border: 2px solid red;
        background-color: pink;
        margin: 10px;
        padding: 10px;
        font-size: 14px;
}
.errorbox strong { font-size: 1.3em; display: block; margin: 5px 0 0 0; }
#toc, .toc, .mw-warning {
        border: 1px solid #AAA;
        background-color: #F9F9F9;
        padding: 5px;
        font-size: 95%;
}
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
        text-align: center;
}
#toc h2, .toc h2 {
        display: inline;
        border: none;
        padding: 0;
        font-size: 100%;
        font-weight: bold;
}
#toc ul, .toc ul {
        margin: .3em 0;
}
#toc ul, .toc ul {
        list-style-type: none;
        list-style-image: none;
        margin-left: 0;
        padding: 0;
        text-align: left;
}
#toc ul ul, .toc ul ul {
        margin: 0 0 0 2em;
}
table.wikitable {
        margin: 1em 0;
        background-color: #F9F9F9;
        border: 1px #AAA solid;
        border-collapse: collapse;
        color: black;
}
table.wikitable > tr > th, table.wikitable > * > tr > th {
        background-color: #F2F2F2;
        text-align: center;
}
table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
        border: 1px #AAA solid;
        padding: 0.2em;
}
div#wiki-foot {
	padding:0.6em 0.6em 0.6em 0.6em;
	margin:0;
	border:0;
	height:4em;
	color: rgb(255,255,255);
	background-color: rgb(100,135,220);
}
	div#foot-left {
		float:left;
		margin: 5px;
	}
	div#foot-right {
		float:right;
		text-align:right;
		margin: 12px;
	}
	div#wiki-foot  ul, div#wiki-foot  div ul {
		list-style-type: none;
		list-style-position: inside;
		margin: 0;
		padding:0;
		border:0;
		white-space: normal;	
	}
	div#wiki-foot  li, div#wiki-foot  div ul li {
		display:inline;
		margin: 0;
		padding: 0 0.2em 0 0.4em;
		border:0;
/*              border-left:0.1em solid white;*/
	}
	div#wiki-foot  li.noborder, div#wiki-foot  div ul li.noborder {
		border:0;
	}
	div#wiki-foot a:link, div#wiki-foot a:visited, div#wiki-foot a:active {
		color: rgb(255,255,255);
		background-color:transparent;
		text-decoration:none;
	}
	div#wiki-foot a:hover {
		color: rgb(255,255,255);
		background-color:transparent;
		text-decoration:underline;
	}
	div#wiki-foot p {
		margin:0;
		padding:0;
	}
	div#wiki-top  li.noborder, div#wiki-top  div ul li.noborder {
		border:0;
	}

-->
