.topic_nav {
  float: right;
  text-align: right;
  width: 150px;
  margin-top: 20px;
  margin-right: -20px;
}
.topic_nav * {
  margin: 0;
  padding: 0;
}
.topic_nav h3 {
  margin-bottom: 5px;
}
.topic_nav ul {
  padding-bottom: 1.2em;
  border-top: 1px solid #EEE;
}
.topic_nav li {
  border-bottom: 1px solid #EEE;
  list-style: none;
}
.topic_nav li a {
  color: #888;
  display: block;
  font: normal 0.9em serif;
  padding: 8px 0;
  text-decoration: none;
}
.topic_nav li a:hover {
  background: #F9F9F9;
  color: #2B7EA1;
}